<!DOCTYPE html>
<html>
<head>
    <title>Edit Vehicle</title>
    <link rel="stylesheet" href="/views/style.css">
</head>
<body>
    <div class="container">
        <h1>Edit Vehicle</h1>
        <form action="/vehicles/<%= vehicle.id %>" method="POST">
            <label>Vehicle Name:
                <input type="text" name="vehicleName" value="<%= vehicle.vehicleName %>" required>
            </label>
            <label>Brand:
                <input type="text" name="brand" value="<%= vehicle.brand %>" required>
            </label>
            <label>Price:
                <input type="number" name="price" value="<%= vehicle.price %>" required>
            </label>
            <label>Image URL:
                <input type="text" name="image" value="<%= vehicle.image %>" required>
            </label>
            <label>Description:
                <textarea name="desc" required><%= vehicle.desc %></textarea>
            </label>
            <button type="submit">Update Vehicle</button>
        </form>
        <a class="back-link" href="/">Back to List</a>
    </div>
</body>
</html>
